.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__image {
  margin-left: 4rem;
}

.profile__card {
  margin-top: 3rem;
  padding: 0.5rem 2rem 2rem 2rem;
  text-align: center;
  height: 70vh;
}

.profile__details {
  margin-top: 1rem;
  width: 20rem;
}

.profile__details > p {
  margin: 1rem;
  color: gray;
}

.profile__logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem;
}
